 <h3 class="card m-5">
  Teléfonos de contacto: <a href="#">91 677 31 99</a> y <a href="#">608 828 918</a>
  También puedes escribirnos un correo con tu consulta, incluyendo si lo deseas fotos descriptivas de los trabajos a presupuestar a la siguiente dirección de correo:
  <a href="#">ongasmadrid@gmail.com</a>
</h3>
<div class="card m-5">
  <%= form_tag '/path' do%>
  Email : </br><%= text_field_tag 'email', ''%></br>
  subject: </br><%= text_field_tag 'subject', ''%></br>
  Body:<%= text_area_tag 'body', ''%>
  <%= submit_tag "submit",:value => "submit"%>
  <%end%>
</div>
