 <h3 class="card m-5">Puedes contactar con nosotros rellenando el siguiente formulario, por teléfono al <a href="#">91 677 31 99</a> ó <a href="#">608 828 918</a> o puedes escribirnos y mandarnos fotos descriptivas de los trabajos a presupuestar a la siguiente dirección de correo: <a href="#">ongasmadrid@gmail.com</a>
</h3>
<div class="card m-5">
  <%= form_tag '/path' do%>
  Email : </br><%= text_field_tag 'email', ''%></br>
  subject: </br><%= text_field_tag 'subject', ''%></br>
  Body:<%= text_area_tag 'body', ''%>
  <%= submit_tag "submit",:value => "submit"%>
  <%end%>
</div>
